<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Навигация по базе сериалов</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.16/js/dataTables.bootstrap.js}"></script>
    <link th:src="@{/webjars/datatables/1.10.16/css/jquery.dataTables.css}" rel="stylesheet"/>
    <link th:src="@{/webjars/datatables/1.10.16/css/dataTables.bootstrap4.css}" rel="stylesheet"/>
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        .modal-container {
            position: relative;
        }

        .modal-child {
            position: absolute;
            width: 100%;
        }

        .modal-busy {
            position: absolute;
            left: 42%;
            margin-top: 4%;
        }
    </style>
</head>
<body>
<label>Обновить базу данных с сериалами</label>
<button id="updateDB" class="btn btn-sm btn-primary " onclick="updateDb()">
    <i class="glyphicon glyphicon-save"></i>
</button>
<br/>
<label>Статус импорта/обновления базы сериалов:</label>
<label id="importStatus"></label>
<div id="modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center">
                <h3>Идет обновление базы сериалов. Это может занять некоторое время. Дождитесь результата.</h3>
            </div>
            <div class="modal-body" style="height:200px">
                <div id="loading-modal" class="modal-busy loader">
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Список сериалов</h2>
<table id="table" class=" table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Русское название</th>
        <th>Оригинальное название</th>
        <th>Жанр</th>
        <th>Количество сезонов</th>
        <th>Дата</th>
    </tr>
    </thead>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable({
            processing: true,
            serverSide: true,
            pagingType: "full_numbers",
            ordering: true,
            ajax: {
                type: "POST",
                url: /*"[[@{//tvshow/find}]]"*/"/tvshow/find",
                data: function (d) {
                    var table = $('#table').DataTable();
                    d.page = (table !== undefined) ? table.page.info().page : 0;
                    d.size = (table !== undefined) ? table.page.info().length : 10;
                    d.title = d.search.value;
                    d.sortField = d.columns[d.order[0].column].data ;
                    d.sortDir = d.order[0].dir;
                },
                "dataSrc": function (json) {
                    json['recordsTotal'] = json['totalElements'];
                    json['recordsFiltered'] = json['totalElements'];
                    return json.content;
                }
            },
            columns: [
                {data: 'russianTitle', orderable: true},
                {data: 'originalTitle', orderable: true},
                {data: 'genre'},
                {data: 'numberOfSeasons'},
                {data: 'issueDatePeriod'}
            ]
        });
    });

    function requestIsProcessing() {
        $('#modal').modal('show');
    }

    function requestCompleted() {
        $('#modal').modal('hide');
    }

    var updateDb = function () {
        requestIsProcessing();
        document.getElementById("importStatus").innerText = "Идет обновление базы сериалов. Это может занять некоторое время. Дождитесь результата.";
        $.post({
            url: "tvshow/grab"
        }).always(function (data) {
            window.console.log("response" + data);
            document.getElementById("importStatus").innerText = data;
            requestCompleted();
        });

    };
</script>

<footer class="navbar-fixed-bottom row-fluid">
    <div id="information">
        Создано Евитченко Виктором в рамках тестового задания по вакансии Java разработчик в компани УБРиР. 2017г
    </div>
</footer>
</body>
</html>
